<div class="home-list">
  <div class="home-list-header">
    <div class="back-icon" (click)="routeHome()">
      <img src="../../../assets/home/back.svg" alt="">
    </div>
    <div class="home-header-content">
      profile
    </div>
  </div>
  <div class="home-list-card">
    <div class="profile-list">
      <div class="profile-icon">
        {{userLogo}}
      </div>
      <div class="profile-name">
        {{userName}}
      </div>
    </div>
    <div class="new-file-list">
      <div class="new-files" (click)="routeprovider()">
        <ion-icon name="person-add" style="font-size: 18px"></ion-icon>
        create new provider
      </div>
      <!-- <div class="new-files" (click)="routeprovider()">
        <ion-icon name="people" style="font-size: 18px"></ion-icon>
        Provider list
      </div> -->
      <div class="new-files" (click)="routeCollect()">
        <ion-icon name="folder" style="font-size: 18px"></ion-icon> collect milk list
      </div>
      <div class="new-files" id="open-custom-dialog">
        <ion-icon name="power" style="font-size: 18px"></ion-icon>
        Logout
      </div>
    </div>
  </div>
</div>

<div class="profile-dialog">
  <ion-content class="ion-padding">
    <ion-modal id="confirmation-modal" #modal trigger="open-custom-dialog">
      <ng-template>
        <div class="confirmation">
          <div class="confirmation-header">
            <div class="confirmation-header-content">Confirm Logout</div>
            <div class="confirmation-header-img" (click)="closeModal()">
              <img src="assets/close.svg" alt="close">
            </div>
          </div>
          <div class="confirmation-content">Are you sure you want to log out?</div>
          <div class="confirmation-btn-group">
            <div class="close-btn">
              <ion-button (click)="closeModal()">No</ion-button>
            </div>
            <div class="submit-btn">
              <ion-button (click)="logout()">Yes, Logout</ion-button>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>