<div class="home-list">
  <div class="home-list-header">
    <div class="back-icon" (click)="routeHome()">
      <img src="../../../assets/home/back.svg" alt="">
    </div>
    <div class="home-header-content">
      profile
    </div>
  </div>
  <div class="home-list-card">
    <div class="profile-list">
      <div class="profile-icon">
        G
      </div>
      <div class="profile-name">
        Gokul
      </div>
    </div>
    <div class="new-file-list">
      <div class="new-files" (click)="routeprovider()">
        <ion-icon name="person-add-outline"></ion-icon>
        create new provider
      </div>
      <div class="new-files" (click)="routeCollect()">
        <ion-icon name="folder-outline"></ion-icon> collect milk list
      </div>
    </div>
  </div>
</div>