<div class="home-list">
  <div class="home-list-header">
    <div class="back-icon" (click)="routeHome()">
      <img src="../../../assets/home/back.svg" alt="">
    </div>
    <div class="home-header-content">
      provider
    </div>
  </div>
  <div class="home-list-card">
    <div class="provider-header">
      craete new provider
    </div>
    <div class="provider-form">
      <p-calendar placeholder="select Date" />
      <div class="collect-data-list">
        <div class="collect-card">
          <div class="collect-card-head-content">
            Gokul
          </div>
          <div class="collect-data-group-list">

            <div class="collect-data-group">
              <div class="head">Liter</div>
              <div class="content">2</div>
            </div>
            <div class="collect-data-group">
              <div class="head">MiliLiter</div>
              <div class="content">2</div>
            </div>
            <div class="collect-data-group">
              <div class="head">FAT</div>
              <div class="content">35%</div>
            </div>
            <div class="collect-data-group">
              <div class="head">Amount</div>
              <div class="content">₹ 90</div>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>