<div class="home-list">
  <div class="home-list-header">
    <div class="back-icon" (click)="routeHome()">
      <img src="assets/home/back.svg" alt="back">
    </div>
    <div class="home-header-content">
      Collect
    </div>
  </div>
  <div class="home-list-card">
    <div class="provider-header">
      Milk collect details
    </div>
    <div class="provider-form">
      <div class="provider-herader">
        <div class="date-filer">
          <p-calendar placeholder="Select Date" [(ngModel)]="dateSelect" (onSelect)="onDateSelect($event)"
            [dateFormat]="'dd-mm-yy'" [readonlyInput]="true" [maxDate]="maxDate"></p-calendar>
        </div>
        <div class="total-liter">
          <div class="content">Total</div>
          {{totalLiter || '0'}} L
        </div>
      </div>
      <div class="collect-data-list" *ngFor="let i of collectData">
        <div class="collect-card">
          <div class="card-head">
            <div class="collect-card-head-content">
              {{i.providerName || '-'}}
              <div class="sub-head">{{i.profileId || '-'}}</div>
            </div>
            <div class="time-filed">
              <span>{{i.uploadDate}}</span>
              <span>{{i.uploadTime}}</span>
            </div>
          </div>
          <div class="collect-data-group-list">
            <div class="collect-data-group">
              <div class="head">Liter</div>
              <div class="content">{{i.totalLiters || '0'}}</div>
            </div>
            <div class="collect-data-group">
              <div class="head">Temp</div>
              <div class="content">{{i.fat}}
                <ion-icon name="thermometer-outline" style="font-size: 16px;"></ion-icon>
              </div>
            </div>
            <div class="collect-data-group">
              <div class="head">Amount</div>
              <div class="content">₹ {{i.amount || '0'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="nodata" class="noData">
        <img src="assets/collection list.png" alt="noData">
      </div>
    </div>
  </div>
</div>