<div class="home-component">
  <div class="home-header">
    <div class="user-icon" (click)="routeProfile()">
      G
    </div>
  </div>
  <div class="home-card">
    <div class="search-bar">
      <ion-searchbar class="custom"></ion-searchbar>
    </div>
    <div class="provider-list">
      <div class="provider-head">
        our providers
      </div>
      <div class="provider-card" (click)="routeAdd()">
        <div class="provider-icon">
          S
        </div>
        <div class="provider-card-list">
          <div class="provider-name">
            Saravanan
          </div>
          <div class="provider-id">
            FM-0001
          </div>
        </div>
      </div>
    </div>
  </div>
</div>